body {
  font-family: "VT323", monospace;
  background-color: #181a50;
  margin: 0;
  padding: 0;
  color: #004390;
}

.favorite-comic {
  text-align: center;
  margin-top: 2em;
}

.featured-comic {
  width: 300px;
  max-width: 90%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease-in-out;
}

.featured-comic:hover {
  transform: scale(1.05);
}

nav {
  background-color: #D1D0A3; /* light green */
  padding: 1em;
  text-align: center;
  font-size: 50px
}

nav a {
  color:  #004390;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  font-size: 1.2em;
  
}

nav a.active,
nav a:hover {
  text-decoration: underline;
  color: #FFE787; /* yellow */
}

main {
  padding: 2em;
  max-width: 2000px;
  margin: auto;
  font-size: 30px
}

.comic-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
}



.comic-page {
  width: 100%;
  max-width: 1400px;
  border: 3px solid;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  border-color: #FFE787
}

.about-page {
  text-align: center;
}

.profile-pic {
  width: 390px;
  border-radius: 50%;
  border: 5px solid #FFE787;
  margin-bottom: 1em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #FFE787;
}
h2 {
  color: #FFE787;
  text-align: center;

}

p {
  line-height: 1.6;
  color: #FFE787;
}
